<h1><%= @user.email %></h1>
<br><br>
<div class="row">
  <div class="col-md-7">

    <% if @user.rentals.size > 0 %>
      <div class="panel panel-primary">
        <div class="panel-heading"><h3>Available locations:</h3></div>
        <div class="panel-body">
          <% @user.rentals.each do |rental| %>
            <% if rental.guests.to_i > 0 %>
              <p><%= image_tag rental.img.url(:thumb) %> <%= link_to "#{rental.location} | #{rental.guests} available", rental_path(rental) %></p>
            <% end %>
          <% end %>
        </div>
      </div>

      <br><br>
      <div class="panel panel-warning">
        <div class="panel-heading"><h3>Unavailable locations:</h3></div>
        <div class="panel-body">
          <% @user.rentals.each do |rental| %>
            <% if rental.guests == 0 %>
              <p><%= rental.location %> | <%= rental.guests %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <h3>No rentals! Add one now -- -></h3>
    <% end %>
  </div>

  <div class="col-md-4 pull-right">
    <div class="panel panel-info">
      <div class="panel-heading"><h3>Add Rental:</h3></div>
      <div class="panel-body">
        <%= render "layouts/errors", object: @rental %>
        <%= render "rentals/form" %>
      </div>
    </div>
  </div>
</div>
