<%= content_for(:title, "Rentals | Sharebnb") %>
<h1>Sharebnb</h1>
<hr>

<% if params.size > 2 && @search.size == 0 %>
  <h3><%= "No results" %></h3><br><hr>
<% else %>
  <% if @search.size > 0 %>
    <h3>Search Results</h3>
    <% @search.each do |rental| %>
      <% if !rental.is_booked? %>
        <a href="/rentals/<%=rental.id%>">
        <div class="panel panel-info">
          <div class="panel-body" id="highlighted">
            <div class="row">
              <div class="col-md-3">
                <%= image_tag rental.img.url(:medium) %>
              </div>
              <div class="col-md-9">
                <h4><%= rental.location %></h4>
                <h5><%= rental.description %></h5>
                <h5><%= number_to_currency(rental.price) %></h5>
              </div>
            </div>
          </div>
        </div>
        </a>
      <% end %>
    <% end %>
    <br><hr>
  <% end %>
<% end %>


<h3>All Available Rentals</h3>
<% @rentals.each do |rental| %>
  <% if !rental.is_booked? %>
    <a href="/rentals/<%=rental.id%>">
    <div class="panel panel-info">
      <div class="panel-body" id="highlighted">
        <div class="row">
          <div class="col-md-3">
            <%= image_tag rental.img.url(:medium) %>
          </div>
          <div class="col-md-9">
            <h4><%= rental.location %></h4>
            <h5><%= rental.description %></h5>
            <h5><%= number_to_currency(rental.price) %></h5>
          </div>
        </div>
      </div>
    </div>
    </a>
  <% end %>
<% end %>

